
.block {
    background: #385A7A;
    /*border-radius: 5px;*/
}
#main-container {
    background: #E8D5C5;
}

#container-left {
    background: #B5967D;
    
}

#container-right {
    background: #E8D5C5;
    /*float: left;
    width: 70%;
    height: 100%;
    */
}

.opt-par {
    margin: 2em;
}

header {
    height: 40px;
}

#content {
    /* margin:1px .2em 1px 1px;*/
    background: #E8D5C5;
    height:100%;
}
.horizontal-list {
    padding: 3px;
    list-style-type: none;
}
.horizontal-list li {
    margin: 5px;
    float: left;
}
.family{
    position: relative;
    margin: 5px;
    padding: 5px;
    background: #4FBC42;
}
.family ul {
    padding: 0;
    list-style-type: none;
}

.modules {
    position: relative;
    margin: 5px;
    padding: 5px;
}
.modules ul {
    padding: 0;
    list-style-type: none;
}

.family-hover {
    background:#52D542;
}

.person{
    position: relative;
    margin: 5px;
    padding: 5px;
    background: #4FAB45;
}

.module{
    position: relative;
    margin: 5px;
    padding: 10px;
    background: #4FAB45;
}
.delete {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100;
    background-color: #FFF;
    padding: 2px 2px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .4;
    text-align: center;
    font-size: 15px;
    line-height: 10px;

}

.add {
    position: absolute;
    top: 0px;
    right: 22px;
    z-index: 100;
    background-color: #FFF;
    padding: 2px 2px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .4;
    text-align: center;
    font-size: 15px;
    line-height: 10px;

}
.person-hover{
    background: #7ED175;
}
.module-hover{
    background: #7ED175;
}
.options {
    margin: 2em;
}
/*
   Using http://www.csstablegenerator.com/?table_id=3
 */
.inc_table {
    width:100%;
    height:100%;
    //box-shadow: 10px 10px 5px #888888;
    border:1px solid #000000;
    border-collapse: collapse;
    border-spacing: 0;
    margin:0px;padding:0px;
}

.inc_table tr:nth-child(odd){
    background-color:#aad4ff;
}
.inc_table tr:nth-child(even)    {
    background-color:#ffffff;
}
.inc_table td{
    vertical-align:middle;


    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:5px;
    font-size:14px;
    font-family:Arial;
    font-weight:normal;
    color:#000000;
}

.inc_table tr:last-child td{
    border-width:0px 1px 0px 0px;
}

.inc_table tr td:last-child{
    border-width:0px 0px 1px 0px;
}

.inc_table tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.inc_table tr:first-child td{
    background-color:#385A7A;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:Arial;
    font-weight:bold;
    color:#ffffff;
}
.inc_table tr:first-child:hover td{
    background-color:#385A7A;
}
.inc_table tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.inc_table tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}

ul.recurseSubObj{
    padding-left: 0.5em;
    
}

li.keyObj{
    border-style: solid;
    border-width: 1px;
}

.off {
    text-decoration: line-through;
}

.list {
	margin: 2px;
}

.keyText {
	padding-left: 5px;
	background-color: yellow;
}
.keyTitle  {
	margin-left: 0px;
	background-color: blue;
}

.recurseObj {
	border-left: solid;
	border-width: 2px;
	margin-left: 5px;
	//background-color:green;
}

.container {
  margin-right: auto;
  margin-left: auto;
    max-width: 960px; /* or 950px */
    background: #E8D5C5;
}
