{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="card mt-4" style="width: 100%">
            <div class="card-header">
                O danych
            </div>
            <div class="card-body">
                <p>
                    Wstępna analiza danych dostępna na <a href="https://maten.pl/post/szczecin-analysis/">moim prywatnym blogu</a>.
                </p>
    
            </div>
        </div>
    </div>
</div>
{% endblock %}