{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="card mt-4" style="width: 100%">
            <div class="card-header">
                {{ _('O danych')}}
            </div>
            <div class="card-body">
                <p>
                    {{ _('Wstępna analiza danych dostępna na')}} <a href="https://maten.pl/post/szczecin-analysis/">{{ _('moim prywatnym blogu')}}</a>.
                </p>
                <p>
                    {{ _('Rozszerzenie z wykorzystaniem uczenia maszynowego: ')}} <a href="https://maten.pl/post/ml_analysis/"></a>.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}