<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Szczecin Housing Data</title>
  <meta name="description" content="Szczecin Housing Data">
  <meta name="author" content="Mateusz Najsztub">
  <link rel="shortcut icon" href="/static/css/flask.ico" />
  {% block css %}{% endblock %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/mongoMap.css" />
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-inverse">
    <div class="container">
      <a class="navbar-brand" href="/">Szczecin Home Data</a>

      <ul class="navbar-nav navbar-right">
          <li class="nav-item active">
              <a class="nav-link" href="/about_data">O danych</a>
            </li>
        <li class="nav-item active">
          <a class="nav-link" href="/about">O stronie</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="https://github.com/Najsztub/SzczecinMap">GitHub <i class="fab fa-github"></i></a>
        </li>
      </ul>
    </div>
  </nav>

  {% block content %}{% endblock %}

  <!--    <footer class="page-footer py-4 bg-dark footer">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright © Szczecin Home Data 2017</p>
        </div>

    </footer>
 -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <!--     <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  {% block js %}{% endblock %}
</body>

</html>