<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Szczecin Home Data</title>
    <meta name="description" content="Szczecin Home Data">
    <meta name="author" content="Mateusz Najsztub">
    <link rel="shortcut icon" href="/static/images/flask.ico" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin="" />

    <link rel="stylesheet" href="/static/css/mongoMap.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <style>
        .container {
            max-width: 1080px;
        }

        html,
        body {
            height: 100%;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
        }
    </style>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-inverse">
        <div class="container">
            <a class="navbar-brand" href="#">Szczecin Home Data</a>

            <ul class="navbar-nav navbar-right">
                <li class="nav-item active">
                    <a class="nav-link" href="#">O stronie<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">GitHub</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="card mt-4">
                    <div class="card-header">Mapa Szczecina</div>
                    <div class="card-body">
                        <div id="mapid"></div>
                        <div id="tooltip">
                            <svg width="200px" height="100px"></svg>
                        </div>
                        <div id="tooltip-text">
                            <svg width="300px" height="120px"></svg>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="card mt-4">
                    <div class="card-header">Panel sterowania</div>
                    <div class="card-body">
                        <p>wybór daty</p>
                        <hr>
                        <p>wybór zmiennej</p>
                        <hr>
                        <p>wybór kolorów</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer py-4 bg-dark footer">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright © Szczecin Home Data 2017</p>
        </div>

    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script type="text/javascript" src="/static/js/d3.v3.js" charset="utf-8"></script> -->
    <script src="https://d3js.org/d3.v5.js"></script>
    <script type="text/javascript" src="/static/js/d3.hexbin.min.js" charset="utf-8"></script>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" 
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>
    <script type="text/javascript" src="/static/js/map.js"></script>
</body>

</html>